<ul class="list-group">
    <!-- <li
   *ngFor="let todo of todoArr$ | async"
    class="list-group-item d-flex justify-content-between">
    <strong>
        {{ todo.todoItem }}
    </strong>

    <span>
        <button class="btn btn-sm btn-outline-primary mr-3">Edit</button>
        <button class="btn btn-sm btn-outline-danger">Remove</button>
    </span>
  </li> -->
  <li
   *ngFor="let todo of todoArr"
    class="list-group-item  d-flex justify-content-between">
    <strong>
        {{ todo.todoItem }}
    </strong>

    <span>
        <button 
        (click)="onEdit(todo)"
        class="btn btn-sm btn-outline-primary mr-2">Edit</button>
        <button class="btn btn-sm btn-outline-danger">Remove</button>
    </span>
  </li>
</ul>
